/* Linksea */

/* Mobile (the default) */
#linksea-container {
  @apply max-h-[150px] bg-[#21CBBB] flex w-full py-4 px-8 flex-col justify-center items-center text-white;

  .linksea-links-container {
    @apply flex flex-row gap-x-4 gap-y-8 flex-wrap justify-around;

    .linksea-link {
      @apply block whitespace-nowrap text-sm;
    }
  }
}

/* Tablet */
@media screen(md) {
  #linksea-container {
    @apply flex-row justify-between;
  }
}

/* Desktop */
@media screen(lg) {
}
