/* Linksea */

/* Mobile (the default) */
#dropdown-card-container {
  @apply flex flex-col items-stretch justify-stretch w-full max-w-2xl h-full overflow-hidden  rounded-md outline-2 bg-white text-black;
  
  #card-title-container {
    @apply flex flex-row items-center justify-between w-full h-12 bg-white text-black px-4 py-2 border-b-2 border-light-grey;

    #card-title {
      @apply text-base font-semibold;
    }

  #card-arrow-container {
    #card-arrow {
      @apply transition-transform duration-200 ease-in-out;

      &.is-up {
        @apply rotate-180;
      }

      &.is-down {
        @apply rotate-0;
      }
    }
  }
  }

  #card-content-container {
    @apply px-4 py-2 overflow-clip transition-all duration-200 ease-in-out;

    &.is-open {
      @apply max-h-[1000px] py-4;
    }

    &.is-closed {
      @apply max-h-0 py-0;
    }

    #card-content {
    }
  }
}

/* Tablet */
@media screen(md) {
}

/* Desktop */
@media screen(lg) {
}
