@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

:root {
  --font-inter: "Inter", sans-serif; /* Define the custom font Inter with fallback */
  --font-raleway: "Raleway", serif; /* Define the custom font Raleway with fallback */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer components {
  .btn-primary {
    @apply py-4 px-4 font-semibold rounded-md shadow-md border-white;
  }
}

.h2 {
  text-align: center;
  font-family: "Roboto", sans-serif;
  line-height: normal;
  font-size: 32px;
  font-style: bold;
  font-weight: 700;
}
.landing-header {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}
.landing-subheader {
  color: #fff;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.h3 {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
}
.p {
  text-align: center;
  font-size: 20px;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 300;
  line-height: inherit;
}
.section {
  display: flex;
  padding: 64px 32px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  align-self: stretch;
}

@media screen(md) {
  .h2 {
    text-align: center;
    font-family: "Roboto", sans-serif;
    line-height: normal;
    font-size: 48px;
    font-style: bold;
    font-weight: 700;
  }
  .landing-header {
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-size: 96px;
    font-weight: 900;
    line-height: normal;
  }
  .landing-subheader {
    color: #fff;
    text-align: center;
    font-family: "Inter", sans-serif;
    font-size: 32px;
    font-weight: 600;
    line-height: normal;
  }
  .h3 {
    font-family: "Roboto", sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
  }
  .p {
    text-align: center;
    font-size: 24px;
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 300;
    line-height: inherit;
    max-width: 700px;
  }
  .section {
    display: flex;
    padding: 64px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 64px;
    align-self: stretch;
  }
}
