@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

:root {
  --font-inter: "Inter", sans-serif; /* Define the custom font Inter with fallback */
  --font-raleway: "Raleway", sans-serif; /* Define the custom font Raleway with fallback */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer components {
  .btn-primary {
    @apply py-4 px-4 font-semibold rounded-md shadow-md border-white;
  }
}

.h2 {
  text-align: center;
  font-family: "Roboto", sans-serif;
  line-height: normal;
  font-size: 32px;
  font-style: bold;
  font-weight: 700;
}

.landing-header {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

.landing-subheader {
  color: #fff;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.h3 {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
}

.p {
  text-align: center;
  font-size: 20px;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 300;
  line-height: inherit;
}

.section {
  display: flex;
  padding: 64px 32px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  align-self: stretch;
}

.resources {
  @apply flex flex-col items-center justify-center gap-8 max-w-6xl mx-auto;
}

.resource-card {
  @apply flex flex-col items-center gap-8 px-8 py-16 bg-white text-black shadow-lg rounded-lg overflow-hidden max-w-xl min-w-full h-full;
}

.categorie-card {
  @apply flex flex-col max-w-lg items-center justify-center gap-4 px-8 py-8 shadow-lg rounded-lg overflow-hidden;
}

.categories {
  @apply flex flex-col items-center justify-stretch gap-4 mb-16 px-4;
}

@media screen and (min-width: 768px) {
  .h2 {
    text-align: center;
    font-family: "Roboto", sans-serif;
    line-height: normal;
    font-size: 48px;
    font-style: bold;
    font-weight: 700;
  }
  .landing-header {
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-size: 96px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
  }
  .landing-subheader {
    color: #fff;
    text-align: center;
    font-family: "Inter", sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  .h3 {
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    max-width: 500px;
  }
  .p {
    text-align: center;
    font-size: 20px;
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 300;
    line-height: inherit;
    max-width: 700px;
  }
  .section {
    display: flex;
    padding: 64px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 64px;
    align-self: stretch;
  }

  .categorie-card {
    @apply gap-6 px-8 py-8;
  }

  .categories {
    @apply gap-16;
  }
}

@media screen and (min-width: 1024px) {
  .categorie-card {
    @apply flex flex-col max-w-full items-center justify-center gap-4 py-16 px-24 shadow-lg rounded-none overflow-hidden shadow-none;
  }

  .categories {
    @apply flex flex-row items-stretch justify-center gap-0 px-0;
  }

  .resources {
    @apply flex flex-row items-center justify-center max-w-4xl h-72;
  }

  .resource-card {
    @apply h-full max-w-sm min-w-0;
  }
}
