/* Header */

/* Mobile (the default) */

#header-container {
  @apply max-h-24 bg-white flex w-full flex-row justify-between items-center pr-4 pl-2 font-inter;

  #header-icon-container {
    @apply w-16;
  }

  #navbar-hamburger-container {
    @apply aspect-square w-8;
  }

  #navbar-links-container {
    @apply w-screen h-screen bg-white z-20 fixed top-0 left-0 flex flex-col justify-start items-end p-8 gap-y-4 text-black text-3xl font-bold transition-transform duration-200 ease-in-out;

    .navbar-link {
      @apply transition-transform duration-200 ease-in-out;

      &.active {
        @apply border-b-4 mb-[-4px];
      }

      &.active:nth-child(1) {
        @apply border-primary;
      }

      &.active:nth-child(2) {
        @apply border-secondary;
      }

      &.active:nth-child(3) {
        @apply border-tertiary;
      }
    }

    /* Mobile has a flying navbar, unlike the other sizes */
    &.navbar-is-open {
      @apply translate-x-0;

      .navbar-link {
        @apply translate-x-0 delay-75;
      }
    }

    &.navbar-is-closed {
      @apply translate-x-full delay-75;

      .navbar-link {
        @apply translate-x-full;
      }
    }

    .navbar-close {
      @apply w-12 h-full flex flex-col justify-end;
    }
  }
}

/* Tablet */
@media screen(md) {
  #header-container {
    @apply pl-4;

    #navbar-links-container {
      .navbar-link {
        &.active {
          @apply border-b-2 mb-[-2px];
        }
      }
    }
  }
}

/* Desktop */
@media screen(lg) {
  #header-container {
    #navbar-hamburger-container {
      @apply hidden;
    }

    #navbar-links-container {
      @apply static flex flex-row w-[unset] h-8 p-0 justify-end gap-x-4 items-center translate-x-0 !important;

      .navbar-link {
        @apply font-light text-base translate-x-0 !important;
      }

      .navbar-link.button {
        @apply bg-secondary py-2 px-4 text-black;
      }

      .navbar-close {
        @apply hidden;
      }
    }
  }
}
